/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer components {
  .card-design {
    @apply w-44 h-64 bg-gray-200 rounded-md z-40 shadow-lg hover:shadow-2xl origin-bottom-left hover:shadow-gray-500 border border-gray-400/30;
  }
  .card-text {
    @apply p-3 flex items-start justify-end text-2xl font-semibold;
  }
} */

@layer components {
  .card-design {
    @apply w-72 h-48 bg-gray-200 dark:bg-gray-700 rounded-md shadow-md p-4 border border-gray-300;
  }

  .card-text {
    @apply text-lg font-semibold text-gray-800 dark:text-gray-100 mb-2;
  }
}

.hero-section {
  background: #494949;
  /* background: linear-gradient(to bottom right, #531d42, #8f8e8d); */
  padding: 100px 0;
}

/* body {
  @media screen and (max-width: 992px) {
    .testimonial-carousel {
      width: 100%;
    }
  }
  @media screen and (max-width: 768px) {
    .hero-section {
      padding: 50px 0;
    }
  }
  @media screen and (max-width: 480px) {
    .hero-section {
      padding: 20px 0;
    }
  }
  
} */

.testimonial-carousel {
  width: 30%;
  margin: 0 auto;
  text-align: center;
}

.testimonial-card {
  /* background: #807a7a; */
  border: #555 solid 2px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.testimonial-feedback {
  font-size: 1.2rem;
  color: #555;
  margin-bottom: 10px;
}

.testimonial-name {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 10px;
}

.testimonial-role {
  font-size: 1rem;
  color: #777;
}
